# Ignore all .exe files
*.exe

# ignore all config files
*.cfg
*.conf
*.ini
*.json
*.xml
*.yaml
*.yml

# Ignore directories
executables/

# Ignore subdirectories
ProductReader/Asemat/
Converting/Data/
ReceiptReading/Archive
ReceiptReading/Data
ReceiptReading/DataOld

# Ignore for YoutubeDownloader
YoutubeDownloader/
!YoutubeDownloader/Downloader.py
!YoutubeDownloader/requirements.txt
!YoutubeDownloader/README.md
