# Ignore all .exe files
*.exe

# ignore all config files
*.cfg
*.conf
*.ini
*.json
*.xml
*.yaml
*.yml

# Ignore directories
executables/

# Ignore for "FileScraping"
FileScraping/Asemat/
FileScraping/Data/
FileScraping/Archive/
FileScraping/DataOld/

# Ignore for "YoutubeDownloader"
YoutubeDownloader/
!YoutubeDownloader/Downloader.py
!YoutubeDownloader/requirements.txt
!YoutubeDownloader/README.md
